


    <div class="card-body">
        <img src="@BaseImage" alt="World" width="@WidthImage" height="@HeightImage" />
        <h5 class="card-title">@Id</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Name</h6>
        <p class="card-text">@Description</p>

    </div>





@code
{
    [Parameter]
    public string Name { get; set; } = "Nový svět";
    [Parameter]
    public string Description { get; set; } = "Popis světa";
    [Parameter]
    public int Id { get; set; } = 1;



    [Parameter]
    public int WidthImage{ get; set; } = 200;
    [Parameter]
    public int HeightImage { get; set; } = 200;
    [Parameter]
    public string BaseImage { get; set; } = "Images/PlaceholderImg.png";

}


<style>
    .card-body img{
        border-radius: 50%;
    }

    img:hover{
        transform: scale(1.1);
        box-shadow: 0 0 20px black;
    }

</style>
