@page "/ProfessionHome"
@rendermode InteractiveServer
@using HeroesOfLegends.Data.Models
@using BlazorBootstrap

<div class="row">
    <div class="col-3 col-l-2 ">

        <h3>Vlastní povolání</h3>
        <ProfessionForm 
            Novic_Skill_Ids="@novicInventoryIds"
            Advanced_Skill_Ids="@advancedInventoryIds"
            Expert_Skill_Ids="@expertInventoryIds"
            Novic_Skill_IdsChanged="OnNovicInventoryIdsChanged"
            Advanced_Skill_IdsChanged="OnAdvancedInventoryIdsChanged"
            Expert_Skill_IdsChanged="OnExpertInventoryIdsChanged">
        </ProfessionForm>

    </div>

    <div class="col-9 col-l-10">
        <ProfessionSkillCreator 
            Level="Level"
            Profipoint="@Profipoint"
            Novic_Skill_Ids="@novicInventoryIds"
            Advanced_Skill_Ids="advancedInventoryIds"
            Expert_Skill_Ids="@expertInventoryIds"
            Novic_Inventory_IdsChanged="OnNovicInventoryIdsChanged"
            Advanced_Inventory_IdsChanged="OnAdvancedInventoryIdsChanged"
            Expert_Inventory_IdsChanged="OnExpertInventoryIdsChanged">
        </ProfessionSkillCreator>

        <h3>Podrobné informace o dovednosti</h3>
    </div>

</div>



@code {
    // --- ProfessionSkillCreator ---
    private int Level { get; set; } = 6;
    private int Profipoint { get; set; } = 20;
    private List<int> novicInventoryIds = new();
    private List<int> advancedInventoryIds = new();
    private List<int> expertInventoryIds = new();
    private void OnNovicInventoryIdsChanged(List<int> ids)
    {
        novicInventoryIds = ids;
        StateHasChanged ();
    }
    private void OnAdvancedInventoryIdsChanged(List<int> ids)
    {
        advancedInventoryIds = ids;
    }
    private void OnExpertInventoryIdsChanged(List<int> ids)
    {
        expertInventoryIds = ids;
    }

    // --- ProfessionForm ---

}

