@page "/ProfessionHome"
@rendermode InteractiveServer
@using HeroesOfLegends.Data.Models
@inject IProfessionSkillManager PFService

<h3>Vyberte Povolení</h3>

<div>
    <h4>Boj</h4>
    <ul>
        @foreach(var skill in combatSkills)
        {
            <li>@skill.Name - Úroveň: @skill.Level</li>
        }
    </ul>
</div>

<div>
    <h4>Kouzla</h4>
    <ul>
        @foreach(var skill in magicSkills)
        {
            <li>@skill.Name - Úroveň: @skill.Level</li>
        }
    </ul>
</div>

<div>
    <h4>Lov</h4>
    <ul>
        @foreach(var skill in huntingSkills)
        {
            <li>@skill.Name - Úroveň: @skill.Level</li>
        }
    </ul>
</div>

<div>
    <h4>Alchymie</h4>
    <ul>
        @foreach(var skill in alchemySkills)
        {
            <li>@skill.Name - Úroveň: @skill.Level</li>
        }
    </ul>
</div>

@code {
    private List<ProfessionSkillDto> combatSkills;
    private List<ProfessionSkillDto> magicSkills;
    private List<ProfessionSkillDto> huntingSkills;
    private List<ProfessionSkillDto> alchemySkills;

    protected override async Task OnInitializedAsync()
    {
        combatSkills = PFService.GetProfessionSkillBySkillClass(SkillClassEnum.combatSkill);
        magicSkills = PFService.GetProfessionSkillBySkillClass(SkillClassEnum.alchemySkill);
        huntingSkills = PFService.GetProfessionSkillBySkillClass(SkillClassEnum.magicSkill);
        alchemySkills = PFService.GetProfessionSkillBySkillClass(SkillClassEnum.huntingSkill);
    }
}
